
<div class="containerall">
    <div class="container">
        
      <div class="row align-items-start">
        <div class="col fs-4">{{prodDets}}</div>
      </div>
      <hr>
      <div class="row justify-content-center">
          <div class="col box justify-content-start">
             <img [src]="product?.Image"> 
              
          </div>
          <div class="col justify-content-end">
           <br>
            <div>
             <!-- nameProd -->
             <ng-template class=" col justify-content-start" [ngIf]="this.decide == 'EN'">
                <b>{{name}}</b> {{product?.Name}}
           </ng-template>
           <ng-template class=" col justify-content-start" [ngIf]="this.decide == 'AR'">
            <b>{{name}}</b> {{product?.NameAr}}
       </ng-template>
             
         </div>
         <div class="row justify-content-center">
             <!-- description -->
             <ng-template class=" col justify-content-start" [ngIf]="this.decide == 'EN'">
                <b>{{description}}</b> {{product?.Description}}
           </ng-template>
           <ng-template class=" col justify-content-start" [ngIf]="this.decide == 'AR'">
            <b>{{description}}</b> {{product?.DescriptionAr}}
       </ng-template>
             
         </div>
         <div class="row justify-content-center">
           <!-- Quantity -->
           <p class=" col  justify-content-start" ><b>{{quant}}</b> {{product?.Quantity}}</p>
           
       </div>
       <div class="row justify-content-center">
           <!-- price -->
           <p class=" col  justify-content-start" ><b>{{price}}</b> {{product?.Price}}</p>
           
       </div>
       <div class="row justify-content-center">
           <!-- category -->
           <ng-template class=" col justify-content-start" [ngIf]="this.decide == 'EN'">
            <b>{{cat}}</b> {{product?.Category}}       </ng-template>
       <ng-template class=" col justify-content-start" [ngIf]="this.decide == 'AR'">
        <b>{{cat}}</b> {{product?.CategoryAr}}   </ng-template>
           
       </div>
       <div class="row justify-content-center">
           <!-- size -->
           <p class=" col  justify-content-start" ><b>{{sizeDim}}</b> {{product?.Size}} {{product?.Diemention}}</p>
           
       </div>
      
         <div class="row justify-content-center">
           
             <div class=" col fs-6 justify-content-end" >
               <button type="button" (click)="back()" name="" id="" class="btn btn-dark btn-lg btn-block">{{backe}}</button>
           </div>
             
         </div>
         </div>
          <hr>
         
           
      </div>
       </div>
       
