<div class="container">
    <h5>Orders</h5>
    <table class="table table-hover">
        <thead>
          <tr>
            
            <th scope="col">Buyer</th>
            <th scope="col">ProductName</th>
            <th scope="col">Date</th>
            <th scope="col">status</th>
           
           <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
            <ng-container  >
                <tr>
            
                   <td *ngFor="let buyer of buyers">{{buyer}}</td>
                 
                
                <td>{{prices}}</td>
                  <td></td>
                  <td></td>
                 <td>
                     <button type="button" name="" id="" class="btn btn-dark btn-lg ">Arrived</button>
                 </td>
                 <td>
              </td>
                </tr>
              </ng-container>
         
        </tbody>
      </table>
    
</div>
