<div class="container">
    <h5 class="title">{{order}}</h5>
    <table class="table table-hover">
        <thead>
          <tr>
            
            <th scope="col thcont">{{order}}</th>
            <th scope="col thcont">{{buyer}}</th>
            <th scope="col thcont">{{date}}</th>
            <th scope="col thcont">{{status}}</th>
           
           <th scope="col thcont">{{totallang}}</th>
          </tr>
        </thead>
        <tbody>
       <!-- <td [ngIf]="this.decide == 'Ar'">{{order.prodNameAr}}</td>--> <ng-container *ngFor="let order of arrOorders">
                <tr>
              
                    <td>{{order.buyer}}</td>
         
                   <ng-template [ngIf]="this.decide == 'EN'">
                        <td>{{order.prodName}}  </td>
                   </ng-template>
                   <ng-template [ngIf]="this.decide == 'AR'">
                     <td>{{order.prodNameAr}}  </td>
                  </ng-template>
                    
                    
                    <td>{{order.date}}</td>
                    <td>{{order.deliveredstatus}}</td>
                
                    <ng-template [ngIf]="this.decide == 'EN'">
                     <td>{{order.total}} EGP</td>
                 </ng-template>
                 <ng-template [ngIf]="this.decide == 'AR'">
                  <td>ج.م {{order.total}} </td>
                </ng-template>
                 
                </tr>
              </ng-container>

        </tbody>
      </table>
    
</div>
