<div class="container-fluid">
    <div class="row d-flex justify-content-between">
        <div class="col-2">
            <img src="assets/Jumia-Vendor.png">
        </div>
        <div class="col-2">
            <button>switch</button>
        </div>
    </div>
    <div class="row bg-warning justify-content-center align-items-center my-5 text-light">
        <div class="col-8 text-center my-5">
            <div class="h2">welcome to Selling on Jumia</div>
            <div class="h5">At Jumia, we are convinced that the next level of buying for the customers is now on the Internet. One of our goal is to offer the widest range of products to the customers, and this is what makes sellers essential. As Africa’s number one e-commerce company, we’re always looking for ways to add value for our customers. As a Jumia seller, you take part in offering those customers better selection, better prices, and a top-notch customer experience.
            </div>
        </div>
    </div>
    <div class="row my-3 d-flex justify-content-center align-items-center">
        <div class="col-8 d-flex justify-content-center">
            <img src="assets/Artboard.jpg" class="col-12">
        </div>
    </div>
    <div class="row my-3 d-flex justify-content-center mt-4 align-items-center">
        <div class="col-8 d-flex justify-content-center">
            <div class="col-2 d-flex justify-content-center align-items-start">
 
   
                    <img src="assets/vendorhubicon.png" class="col-12">
          
            </div>
            <div class="col-10 d-flex justify-content-center ">
               <ul><div class="h3 text-secondary d-flex flex-row">
                
                 <p>1.Make sure you comply with our conditions:</p>    
               </div>
                <ul>
                <li>Your products can be sold on jumia.com </li> 
                <li>You have all the necessary information to create your account: 
                    <ul>
                        <li> Mail address and phone number</li>
                        <li>Details of your company (address, legal name, etc.)</li>
                        <li>Bank account details</li>
                        <li>To be able to deliver orders to our hub within 48 hours our hubs are located in (Cairo, Giza, Alex, Tanta) Hubs List</li>
                        <li>If you can’t deliver orders to our hub, you can use our Jumia Express service More info here</li>
                        <li>All categories require Tax card & registration Except for (Fashion, Mobile accessories, Computer accessories) these 3 categories can use their Personal ID only.</li>
                        <li>You will be required to sign our contract within 30 days of being live to avoid delisting your account
                           
                            <ul class="nd">
                            <li>The contract has to be a hard copy and delivered in the company</li>
                                <li> All pages need to be signed</li>
                                <li> If a commercial entity you’ll need both “signature and a stamp” while if individual only a signature is enough.</li>
                                <li> The Tax card & registration have to be the latest ones</li>
                                <li> The signee’s name has to be in the registration and has the right to sign.</li>
                                <li> The account owner or the company representative’s full quadruple name has to be written clearly without a signature form.</li>
                                <li> The full quadruple name has to be written at the end of every page of the contract without a signature form.</li>
                                <li> The signature box is the only place where a signature form is allowed.</li>
                                <li> Please make sure there are no signs of writing off or repairing written errors anywhere in the contract.</li>
                            </ul>
                        </li>   
                    </ul>
                </li>
                </ul>

                </ul> 
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">

            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-start">
                    <img src="assets/vendorhubicon2.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-start">
                    <ul><p class="h3 text-secondary">
                    2.How much does it cost to sell on Jumia?
                    </p>
                        The registration on Jumia is free for all the vendors.
                    <br>
                        For each sale you make via our platform, you will be charged a fee depending on the delivery method chosen and the category of your products.
                     <ul>   
                    <li>processing fees</li>
                    <li>commisions</li>
                    <li>jumia Express fees</li>
                    </ul>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">
         
            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-start">
                    <img src="assets/vendorhubicon3.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-center">
                    <ul><p class="h3 text-secondary"> 3. Discover the Seller Center:</p>
                        When you are registered, all the management of your online store is done via the Seller Center. With this portal you have access to all the information you need to manage your sales, add products, update your product information, have an overview of actual sales, etc.It is a one-stop shop to facilitate the management of your sales account on Jumia
                <p>Below are a just few of the things you can do from Seller Center</p>
                <ul>
                <li>Keep track of your inventory and update your listings</li>
                <li>Keep track of orders that are in Jumia network</li>
                <li>Join the promotional campaigns</li>
                <li>Use customer metrics tools to monitor your seller performance</li>
            </ul>
            learn more about the seller center
                </ul>
    
                </div>
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">
           
            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-start">
                    <img src="assets/vendorhubicon4.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-center">
                    <ul><p class="h3 text-secondary">4. How to list products.</p>
                Your first step to make your products available for the customers is to list them on your Seller Center account. There are different methods to use depending on the type and the quantity of products you want to offer to the shoppers.
                <ul>
                <li>one by one</li>
                <li>sell your feature</li>
                <li>massive creation with bulk</li>
                <li>jumia content team can help ou list your products</li>
                <ul>
                To be put live, your products creation must comply with some guidelines to be accepted by our teams.
                <br>To make sure your products make it to the top and help you succeed your launch on Jumia, here are some tips to know what works best for the shoppers.
                <li>Guidelines for successful products creation and therefore a successful launch! (Learn more about the Validation Process)</li>
                <li>The product detail page</li>
                Once approved by our teams, your products will be live on jumia.com. From there, you can receive an order at any time.
                </ul>
            </ul>
        </ul>
                </div>
            </div>
        
        <div class="row my-3 d-flex justify-content-center align-items-center">
            
            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-start">
                    <img src="assets/vendorhubicon5.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-start">
                  <ul><p class="h3 text-secondary">5. How to process an order</p>
                As soon as a customer orders one of your product, you have 48 hours to get your item shipped. Here are the steps to do it properly:
            <ul>
                <li>Check daily your Seller Center account to see if you have a new order (a mail alert is also sent to you).</li>
                <li>Prepare your package for delivery, following our guidelines on how to properly pack your order.</li>
                learn more about your order
            </ul>
            </ul>  
                </div>
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">
            


            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-start">
                    <img src="assets/vendorhubicon6.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-center">
                  <ul><p class="h3 text-secondary">6. How to deliver your order</p>
                Jumia offers you two main solutions to deliver your orders:
                <ul>
                    <li>Prepare and drop off your packages to our VDO stations.</li>
                    This means that you take care of the storage of your products, you are responsible for packing the orders, you bring your orders to our VDO stations and we only take care of the delivery to the customers.
                    <br>
                    Learn more about the VDO stations
                </ul>
                <ul>
                    <li>Subscribe to Jumia Express service</li>
                    Ship your products to Jumia so that we take in charge of their inventory and make them quickly available for sale. Then, with each order, Jumia packages and ships the product directly to the customer.
                    <br>
                    Learn more about Jumia Express
                </ul>
            </ul>          
                </div>
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">
            

            <div class="col-8 d-flex justify-content-center">
                <div class="col-2 d-flex justify-content-center align-items-start">
                    <img src="assets/vendorhubicon7.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-start">
                    <ul><p class="h3 text-secondary">7. How do you get paid?
                    </p>
                    We deposit payment into your bank account at regular intervals and notifies you that your payment has been sent
                    <br>
                    learn more on how to get paid
                </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
    

<!--arabic-->

<div class="container-fluid">
    <div class="row d-flex justify-content-between">
        <div class="col-2">
            <img src="assets/Jumia-Vendor.png">
        </div>
        <div class="col-2">
            <button>switch</button>
        </div>
    </div>
    <div class="row bg-warning justify-content-center align-items-center my-5 text-light">
        <div class="col-8 text-center my-5">
            <div class="h2">مرحبًا بك للبيع على جوميا</div>
            <div class="h5">نؤمن في جوميا أن مرحلة الشراء القادمة للعميل ستتم عبر الإنترنت فأحد أهدافنا هو توفير مجموعة متنوعة من المنتجات للعميل، ولذلك يعد البائع شخص بالغ الأهمية لدينا. بصفتنا الشركة الأولى في التجارة الإلكترونية في إفريقيا، نبحث دائمًا عن طرق لإضافة قيمة لعملائنا. باعتبارك بائع علي جوميا، فستشارك بتقديم عروض للعملاء مثل عرض أفضل المنتجات بأحسن سعر وذلك بجانب توفير أفضل تجربة شراء للعميل.

            </div>
        </div>
    </div>
    <div class="row my-3 d-flex justify-content-center align-items-center">
        <div class="col-8 d-flex justify-content-center">
            <img src="assets/Artboard.jpg" class="col-12">
        </div>
    </div>
    <div class="row my-3 d-flex justify-content-center mt-4 align-items-center">
        <div class="col-8 d-flex justify-content-center">
            <div class="col-2 d-flex justify-content-center align-items-start">
                <img src="assets/vendorhubicon.png" class="col-12">
            </div>
            <div class="col-10 d-flex justify-content-center ">
               <ul><p class="h3 text-secondary">
                1.يرجى التأكد من الالتزام بشروطنا:  
               </p>
                <ul>
                <li>يمكنك بيع منتجك عبر jumia.com </li> 
                <li>o هذه كافة المعلومات اللازمة لإنشاء حسابك: 
                    <ul>
                        <li> عنوان البريد الإلكتروني ورقم الهاتف</li>
                        <li>بيانات تفصيلية لشركتك (العنوان، الاسم القانوني, اسم المتجر باللغة الانجليزية وغيرهم)</li>
                        <li> بيانات تفصيلية للحساب البنكي</li>
                        <li>ن يكون لديك الامكانيه لتوصيل الطلب الى احد مراكز التسليم في خلال 48 ساعة لمعرفة مراكز التسليم المتاحة في المحافظات الاتيه ( القاهرة – الجيزة – الاسكندرية – طنطا ) من هنا</li>
                        <li>ذا كنت لا تستطيع توصيل الي المحافظات المذكورة, يوجد نظام اخر ( بضاعتك في مخزن جوميا ) للتفاصيل من هنا</li>
                        <li>كل الفئات تحتاج الي توفير سجل تجاري و بطاقة ضريبية عدا الفئات الاتية فقط تحتاج الا بطاقة شخصية فقط ( الملابس – اكسسوارات المحمول – اكسسوارات الكمبيوتر )</li>
                        <li>سيتوجب عليك إمضاء العقد الخاص بجوميا في نسختيه “الورقيه والإلكترونية” خلال 30 يوم من بدأ البيع على جوميا لتجنب إيقاف الحساب
                           
                            <ul class="nd">
                            <li>-العقد يجب أن يكون نسخة ورقية يتم تسليمها في مقر الشركة</li>
                                <li> – يجب الإمضاء على كل الصفحات</li>
                                <li> – في حالة كون المتجر خاص بمنشأة تجارية يجب الإمضاء بالإضافة لختم المنشأة، بينما يكون الإمضاء كافي في حالة الحساب الفردي</li>
                                <li> – يجب أن يكون السجل التجاري والبطاقة الضريبية هم أحدث نسخة</li>
                                <li> – يجب ان يكون الموقع على العقد اسمه موجود في السجل التجاري و له حق التوقيع</li>
                                <li> – يرجى كتابة اسم الشخص (ممثل الشركة/ او صاحب الحساب على جوميا) رباعي بوضوح وبدون صيغة امضاء</li>
                                <li> – يرجى كتابة الاسم رباعى في نهاية كل صفحة من العقد بوضوح دون صيغة امضاء</li>
                                <li> – التوقيع هو البند الوحيد المسموح فيه بصيغة امضاء</li>
                                <li> – يرجى الحرص على عدم وجود اي علامات شطب او تصليح اخطاء كتابية تماماً في اي جزء او مكان في العقد</li>
                            </ul>
                        </li>   
                    </ul>
                </li>
                </ul>

                </ul> 
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">

            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-start">
                    <img src="assets/vendorhubicon2.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-start">
                    <ul><p class="h3 text-secondary">
                        2. ما تكلفة البيع على جوميا؟
                    </p>
                    التسجيل علي جوميا مجاني لجميع البائعين.
                    <br>
                    سيتم دفع رسوم لكل منتج تبيعه عبر منصتنا ووفقًا أيضًا لوسيلة الشحن المُختارة وفئة المنتجات.
                     <ul>   
                    <li>تكلفة الشحن</li>
                    <li>العمولة</li>
                    <li>رسوم جوميا إكسبريس</li>
                    </ul>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">
         
            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-start">
                    <img src="assets/vendorhubicon3.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-center">
                    <ul><p class="h3 text-secondary"> 3. اكتشف المتجر الإلكتروني</p>
                        سيتم إدارة متجرك بالكامل عبر الإنترنت وذلك عند التسجيل بالمتجر الإلكتروني يمكنك من خلال هذا الموقع الوصول إلي كافة البيانات لإدارة البيع وإضافة منتج وتحديث بيانات المنتج وإلقاء نظرة عامة على المبيعات الفعلية.
                <br>محطة شاملة للتسوق تسهل عليك إدارة مبيعات حسابك على جوميا.
                <p>فيما يلي بعض الأشياء التي يمكنك القيام بها عبر المتجر الإلكتروني</p>
                <ul>
                <li>تتبع المخزون لديك وتحديث القوائم الخاصة بك</li>
                <li>تتبع الطلبات بشبكة جوميا</li>
                <li>الاشتراك بحملات الدعاية</li>
                <li>استخدام أدوات مقاييس العملاء لمراقبة أداء البائع</li>
            </ul>
            اعرف المزيد عن المتجر الإلكتروني
                </ul>
    
                </div>
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">
           
            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-start">
                    <img src="assets/vendorhubicon4.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-center">
                    <ul><p class="h3 text-secondary">4. كيفية إدراج المنتجات بالقائمة</p>
                        أول خطوة لظهور منتجاتك للعملاء هي إدراج المنتجات على حسابك بالمتجر الإلكتروني. هناك عدة وسائل للاستخدام وذلك وفقًا لنوع وكمية المنتجات التي تريد عرضها للعملاء.
                <ul>
                <li>كل منتج على حدى</li>
                <li>خاصية “بيع منتجك معنا”</li>
                <li>إنشاء عدة منتجات مرة واحدة</li>
                <li>سيساعدك فريق المحتوي بجوميا في إدخال منتجاتك</li>
                <ul>
                    يجب أن يتوافق منتجك مع بعض الإرشادات التي يجب قبولها بواسطة فريق المحتوى وذلك من أجل عرض منتجاتك بحالة متاحة للبيع
                <br>إليك بعض النصائح لمعرفة أفضل ما يناسب العملاء، وذلك لضمان أن منتجاتك تعرض بشكل مناسب.
                <li>إرشادات لإنشاء محتوي جيد للمنتجات مما يضمن لك إطلاق مثالي للمنتجات (إعرف أكثر عن عملية الموافقة على المنتجات)</li>
                <li>صفحة تفاصيل المنتجات</li>
                بمُجرد الموافقة علي منتجاتك ستكون متاحة على الموقع jumia.com من هُنا يمكنك استقبال أي طلب في أي وقت
                </ul>
            </ul>
        </ul>
                </div>
            </div>
        
        <div class="row my-3 d-flex justify-content-center align-items-center">
            
            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-start">
                    <img src="assets/vendorhubicon5.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-start">
                  <ul><p class="h3 text-secondary">5. كيفية مُعالجة الطلب؟</p>
                    بمُجرد أن يطلب العميل أحد منتجاتك، لديك 48 ساعة لشحن طلبك. فيما يلي الخطوات التي يجب اتباعها:
            <ul>
                <li>تفحص يوميًا حسابك علي المتجر الإلكتروني لمعرفة إذا كان لديك طلب جديد (سيتم إرسال بريد إلكتروني للتنبيه)</li>
                <li>جهز العبوة للشحن واتبع الإرشادات الخاصة بنا حول كيفية تعبئة الطلب بشكل صحيح</li>
                اعرف المزيد حول طلباتك
            </ul>
            </ul>  
                </div>
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">
            


            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-start">
                    <img src="assets/vendorhubicon6.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-center">
                  <ul><p class="h3 text-secondary">6. كيفية شحن طلبك</p>
                    توفر لك جوميا حلين رئيسيين لشحن طلباتك:
                <ul>
                    <li>قم بإعداد الطلب وسلمه بمراكز التسليم</li>
                    مما يعني أنك مسؤول عن تخزين منتجاتك وأيضًا عن تعبئة الطلبات، حيث تقوم بتسليم المنتج بأحد مراكز التسليم ونحن نعتني بالمنتج أثناء الشحن للعميل.
                    <br>اعرف المزيد حول مراكز التسليم                   
                </ul>
                <ul>
                    <li>اشترك بخدمة جوميا إكسبريس</li>
                    اشحن منتجاتك إلي جوميا وذلك من أجل تخزينها وحتى يتم عرضها بسرعة للبيع. ثم تقوم جوميا بعد ذلك بتعبئة المنتجات وشحنها مُباشرة للعملاء.
                    <br>اعرف المزيد عن جوميا إكسبريس
                </ul>
            </ul>          
                </div>
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">
            

            <div class="col-8 d-flex justify-content-center">
                <div class="col-lg-2 d-flex justify-content-center align-items-start">
                    <img src="assets/vendorhubicon7.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-start">
                    <ul><p class="h3 text-secondary">
                        7. كيفية استلام قيمة المبيعات؟
                    </p>
                    يتم إيداع أرباحك في حسابك البنكي تلقائيًا بشكل أسبوعي.
                    “أول شهرين يكون الإيداع بشكل شهري”
                    <br>
                    اعرف المزيد حول كيفية استلام القيمة
                </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
    

