<div class="container-fluid">
    <div class="row d-flex justify-content-between">
        <div class="col-2">
            <img src="assets/Jumia-Vendor.png">
        </div>
        <div class="col-2">
            <button>switch</button>
        </div>
    </div>
    <div class="row bg-warning justify-content-center align-items-center my-5 text-light">
        <div class="col-8 text-center my-5">
            <div class="h2">welcome to Selling on Jumia</div>
            <div class="h5">At Jumia, we are convinced that the next level of buying for the customers is now on the Internet. One of our goal is to offer the widest range of products to the customers, and this is what makes sellers essential. As Africa’s number one e-commerce company, we’re always looking for ways to add value for our customers. As a Jumia seller, you take part in offering those customers better selection, better prices, and a top-notch customer experience.
            </div>
        </div>
    </div>
    <div class="row my-3 d-flex justify-content-center align-items-center">
        <div class="col-8 d-flex justify-content-center">
            <img src="assets/Artboard.jpg" class="col-12">
        </div>
    </div>
    <div class="row my-3 d-flex justify-content-center mt-4 align-items-center">
        <div class="col-8 d-flex justify-content-center">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <img src="assets/vendorhubicon.png" class="col-12">
            </div>
            <div class="col-10 d-flex justify-content-center ">
               <ul><p class="h3 text-secondary">
                    1.Make sure you comply with our conditions:
               </p>
                <ul>
                <li>Your products can be sold on jumia.com </li> 
                <li>You have all the necessary information to create your account: 
                    <ul>
                        <li> Mail address and phone number</li>
                        <li>Details of your company (address, legal name, etc.)</li>
                        <li>Bank account details</li>
                        <li>To be able to deliver orders to our hub within 48 hours our hubs are located in (Cairo, Giza, Alex, Tanta) Hubs List</li>
                        <li>If you can’t deliver orders to our hub, you can use our Jumia Express service More info here</li>
                        <li>All categories require Tax card & registration Except for (Fashion, Mobile accessories, Computer accessories) these 3 categories can use their Personal ID only.</li>
                        <li>You will be required to sign our contract within 30 days of being live to avoid delisting your account
                           
                            <ul class="nd">
                            <li>The contract has to be a hard copy and delivered in the company</li>
                                <li> All pages need to be signed</li>
                                <li> If a commercial entity you’ll need both “signature and a stamp” while if individual only a signature is enough.</li>
                                <li> The Tax card & registration have to be the latest ones</li>
                                <li> The signee’s name has to be in the registration and has the right to sign.</li>
                                <li> The account owner or the company representative’s full quadruple name has to be written clearly without a signature form.</li>
                                <li> The full quadruple name has to be written at the end of every page of the contract without a signature form.</li>
                                <li> The signature box is the only place where a signature form is allowed.</li>
                                <li> Please make sure there are no signs of writing off or repairing written errors anywhere in the contract.</li>
                            </ul>
                        </li>   
                    </ul>
                </li>
                </ul>

                </ul> 
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">

            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-center">
                    <img src="assets/vendorhubicon2.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-center">
                    
                </div>
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">

            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-center">
                    <img src="assets/vendorhubicon3.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-center">
                    
                </div>
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">

            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-center">
                    <img src="assets/vendorhubicon4.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-center">
                    
                </div>
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">

            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-center">
                    <img src="assets/vendorhubicon5.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-center">
                    
                </div>
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">

            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-center">
                    <img src="assets/vendorhubicon6.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-center">
                    
                </div>
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center align-items-center">

            <div class="col-8 d-flex justify-content-center">
                <div class="col-2  d-flex justify-content-center align-items-center">
                    <img src="assets/vendorhubicon7.png" class="col-12">
                </div>
                <div class="col-10  d-flex justify-content-center">
                    
                </div>
            </div>
        </div>
    </div>
</div>
