<div class="container">
    <h5 class="title">{{dailysalles}}</h5>
    <div>

    
    <table  class="table table-hover">
        <thead>
          <tr>
            <th  scope="col">{{datelang}}</th>
            <th  scope="col">{{saleslang}}</th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of total" >
                <tr>
                  <td >{{item.salesDate}}</td>
                  <td >{{item.Sales}}</td>
                </tr>
              </ng-container>
         
        </tbody>
      </table>
    </div>
</div>