<div class="container">
    <h5 class="title">{{dailysalles}}</h5>
    
    <div class="input-group sea mb-3">
    
      <input type="search"
      
        class="form-control" placeholder={{searchplace}} aria-label="search" aria-describedby="basic-addon1">
    </div>
   <!-- <mat-table [dataSource]="data">
      <mat-header-row matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef>
        Date(keyup)="fffl($any($event.target).value)"
      </mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.Date}}</mat-cell>
    </mat-header-row>
      <mat-header-row matColumnDef="Sale">
        <mat-header-cell *matHeaderCellDef>
        Sales
      </mat-header-cell>
      <mat-cell  *matCellDef="let item">{{item.Sales}}</mat-cell>
      </mat-header-row>
      <mat-footer-row>
        <mat-footer-cell *matFooterCellDef="footer end">end</mat-footer-cell>
      </mat-footer-row>
    </mat-table>-->
    <div>

    
    <table  class="table table-hover">
        <thead>
          <tr>
            
           
            <th  scope="col">{{datelang}}</th>
            <th  scope="col">{{saleslang}}</th>
           
           
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of total" >

              
                <tr >

                  <td >{{item.salesDate}}</td>
                  <td >{{item.Sales}}</td>
                 
                </tr>
              </ng-container>
         
        </tbody>
      </table>
    </div>
</div>