<!-- <div class="container">
    <p>WRONG PATH!!!</p>
<p>please click the button to go to Home Page</p>
<button type="button" routerLink="/Home" class="btn btn-dark btn-lg btn-block">GO TO HOME PAGE</button>
</div> -->


 <div class="d-flex justify-content-center m-0">   <img class=""  src="assets/No data-bro.png" />
    
    <!-- <p>please click the button to go to Home Page</p>
    <button type="button" routerLink="/Home" class="btn btn-dark btn-lg btn-block">GO TO HOME PAGE</button> -->
  </div>
  <div class="d-flex justify-content-center ">  
    
    <p class="fs-3">please click the button to go to Home Page</p>
  </div>
  <div class="d-flex justify-content-center ">  
    
    <button type="button" routerLink="/Home" class="btn btn-dark btn-lg btn-block">GO TO HOME PAGE</button>
  </div>
  <div class="d-flex justify-content-center ">  
    <hr>
  </div>