.container{
    align-items: center;
    width: 96%;
    padding: 25px;
    }
    img{
        width: 50%;
        align-self: center;
    }
    .contant{
       
        height: auto;
       width: 50%;
       
    }