<div class="containerall">
  <div class="container">
     
    <div class="row align-items-start">
      <div class="col fs-4">Account Overview</div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col box">
            <div class="row justify-content-center">
            <p class=" col-7 fs-6 justify-content-start" >ACCOUNT DETAILS</p>
            <div class="col"><!--icon--></div>
            <hr>
        </div>
        <div class="row justify-content-center">
            <p class=" col  justify-content-start" >Name: {{seller.firstname}} {{seller.lastname}}</p>
            
        </div>
        <div class="row justify-content-center">
            <p class=" col  justify-content-start" >Email: {{seller.Email}}</p>
            
        </div>
        <div class="row justify-content-center">
          <p class=" col  justify-content-start" >Active:  {{seller.IsActive}}</p>
          
      </div>
      <div class="row justify-content-center">
        <p class=" col  justify-content-start" ></p>
        
    </div>
    <div class="row justify-content-center">
      <p class=" col  justify-content-start" >Company Name: {{seller.CompanyName}}</p>
      
  </div>
  <div class="row justify-content-center">
    <p class=" col  justify-content-start" >Phone Number: {{seller.Phone}}</p>
    
</div>
<div class="row justify-content-center">
  <p class=" col  justify-content-start" >Rate: {{seller.Rate}}</p>
  
</div>
        <div class="row justify-content-center">
            <div class=" col fs-6 justify-content-start" >
              <button type="button" name="" id="" class="btn link" [routerLink]="['/SellerUpdate']">CHANGE</button>
            </div>
            
        </div>
        </div>
      
    </div>
     
  </div>
</div>
