<!--لسا معملتوش انه يتحط بشكل مؤقت -->
<div class="container " >
    <div class="row g-0 ">
     
      <aside class="col-lg-5 col-sm-5 col-md-5 asideu">

        <h5 class="fw-bold">Login</h5>
        <form class="form needs-validation"  novalidate>
          <div class="col-11 mb-3 mt-3 ">
            <input type="email" class="form-control border-3" id="email" placeholder="E-mail" name="email"
             required>
            <div class="invalid-feedback">
              Please provide a valid E-mail.
            </div>
          </div>
          <div class="col-11 mb-3">
            <input type="password" class="form-control border-3" id="pwd" placeholder="Password" name="pswd" required>
            <div class="invalid-feedback">
              Please provide right password.
            </div>
          </div>
          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
          </div>
          <div  >
          <button class="col-10 btlogin" type="submit" ><i  class="fas fa-envelope"></i> LOGIN</button>
          <button class="col-10 btlogfb" type="submit" ><i class="fab fa-facebook-square"></i> LOGIN WITH FACEBOOK</button>
        </div>
        </form>
      </aside>
      
        <div class="vr" style="height: autopx; "></div>
     
      
      <aside class="col-lg-5 col-sm-5 col-md-5 asideu">
        <h5 class="fw-bold">Create your Jumia account</h5>
        <form action="registeruser.html">
          <div class="mb-3 mt-4">
           <p class="">
            Create your Jumia customer account in just a few clicks!
             You can register either using your e-mail address or through your Facebook account.
           </p>
          </div>
          <button  class="col-10 btlogin mt-5" type="submit" ><i class="fas fa-envelope"></i> CREATE ACCOUNT VIA E-MAIL</button>
          <button class="col-10 btlogfb " type="submit" ><i class="fab fa-facebook-square"></i>  REGISTER WITH FACEBOOK</button>
        </form>
      </aside>
      
    </div>
  </div>
