<div class="container">
    <p class="fs-3 m-3">{{addProd}}</p>
<form  #prod="ngForm" (ngSubmit)="onSubmit(prod)" >
<div class="form m-5">
  <label for="basic-url" class="form-label">{{prodName}}</label>
<div class="input-group mb-3">
  
  <input #prdName="ngModel" pattern='[A-Za-z]{3,}'
    [(ngModel)]="NewProd.Name"  type="text" class="form-control" name="Name" placeholder={{enterProdName}}  required  pattern="" >
 
</div>
<div class="alert alert-danger" [hidden]="prdName.valid || prdName.untouched" >
  <small *ngIf="prdName.errors?.['required']" > Name is required</small>
  
</div>

<label for="basic-url" class="form-label">{{prodArName}}</label>
<div class="input-group mb-3">
  
  <input #prdNameAr="ngModel" pattern=""  [(ngModel)]="NewProd.NameAr"  type="text" class="form-control" name="NameAr" placeholder={{enterArProdName}}  required  pattern="" >

</div>
<div class="alert alert-danger" [hidden]="prdNameAr.valid || prdNameAr.untouched" >
  <small *ngIf="prdNameAr.errors?.['required']" > Name is required</small>
  <small *ngIf="prdNameAr.errors?.['pattern']" > jgjhg</small>

</div>


<label for="basic-url" class="form-label">{{prodQuant}}</label>
<div class="input-group mb-3">
  <input  #prdQuantity="ngModel" min=5 [(ngModel)]="NewProd.Quantity" type="number"  class="form-control" name="Quantity"  placeholder={{enterQuant}} required>
</div>
<div class="alert alert-danger" [hidden]="prdQuantity.valid || prdQuantity.untouched" >
  <small *ngIf="prdQuantity.errors?.['required']" > Quantity is required</small>
  
  <small *ngIf="prdQuantity.errors?.['min']" > the minimam Quantity is 5 </small>
</div>
<label for="basic-url" class="form-label">{{prodPrice}}</label>
<div class="input-group mb-3">
  <input type="number"  #prdPrice="ngModel"  [(ngModel)]="NewProd.Price" class="form-control" min=1 name="Price" placeholder={{enterPrice}} required >
</div>
<div class="alert alert-danger" [hidden]="prdPrice.valid || prdPrice.untouched">
  <small *ngIf="prdPrice.errors?.['required']"> Price is required</small>
  <small *ngIf="prdPrice.errors?.['min']" > zero is unexaptable</small>

</div>
<label for="basic-url" class="form-label">{{prodLink}}</label>
<div class="input-group mb-3">
  <input type="text" #prdImg="ngModel"  [(ngModel)]="NewProd.Image" class="form-control" name="Image" placeholder={{enterLink}} required>
</div>
<div class="alert alert-danger" [hidden]="prdImg.valid || prdImg.untouched" >
  <small *ngIf="prdImg.errors?.['required']"> Image is required</small>
</div>
<label for="basic-url" class="form-label">{{availSize}}</label>
<div class="input-group mb-3">
  <input type="text" #prdSize="ngModel"  [(ngModel)]="NewProd.Size" class="form-control" name="Size" placeholder={{availSize}} >
</div>

<label for="basic-url" class="form-label">{{dimensions}}</label>
<div class="input-group mb-3">
  <input type="text" #prdDiem="ngModel"  [(ngModel)]="NewProd.Diemention" class="form-control" name="Diemention" placeholder={{dimensions}} >
</div>

<label for="basic-url" class="form-label">{{Endescription}}</label>
<div class="input-group mb-3">
  <input type="text" #prdDes="ngModel"  [(ngModel)]="NewProd.Description" class="form-control" name="Description" placeholder={{enterEnDesc}} required>
</div>
<div class="alert alert-danger" [hidden]="prdDes.valid || prdDes.untouched" >
  <small *ngIf="prdDes.errors?.['required']" > Description is required</small>
</div>

<label for="basic-url" class="form-label">{{Ardescription}}</label>
<div class="input-group mb-3">
  <input type="text" #prdDesAr="ngModel"  [(ngModel)]="NewProd.DescriptionAr" class="form-control" name="DescriptionAr" placeholder={{enterArDesc}} required>
</div>
<div class="alert alert-danger" [hidden]="prdDesAr.valid || prdDesAr.untouched" >
  <small *ngIf="prdDesAr.errors?.['required']" > Description is required</small>
</div>

<label for="basic-url" class="form-label">{{EnprodCat}}</label>
<select class="form-control" #prdCat="ngModel"  name="Category" id="" [(ngModel)]="NewProd.Category" required >

 <option *ngFor="let item of Category" [value]="item.name" >
   {{item.name}}
 </option>

</select>
<div class="alert alert-danger" [hidden]="prdCat.valid || prdCat.untouched">
  <small *ngIf="prdCat.errors?.['required']"> Category is required</small>
</div>

<label for="basic-url" class="form-label">{{ArProdCat}}</label>
<select class="form-control" #prdCat="ngModel"  name="CategoryAr" id="" [(ngModel)]="NewProd.CategoryAr" required >

 <option *ngFor="let item of Category" [value]="item.NameAr" >
   {{item.NameAr}}
 </option>

</select>
<div class="alert alert-danger" [hidden]="prdCat.valid || prdCat.untouched">
  <small *ngIf="prdCat.errors?.['required']"> Category is required</small>
</div>
<br><hr>
<button type="submit" class="btn btn-dark"
[disabled]="!prod.valid" [disabled]="prod.invalid">{{addEdit}}</button>
                                                    

 

</div>
</form>

</div>