<div class="container">
    <p class="fs-3 m-3">Add Product</p>
<form  #prod="ngForm" (ngSubmit)="onSubmit(prod)" >
<div class="form m-5">
  <label for="basic-url" class="form-label">Product Name in English</label>
<div class="input-group mb-3">
  
  <input #prdName="ngModel"  [(ngModel)]="NewProd.Name"  type="text" class="form-control" name="Name" placeholder="Enter Product Name in English"  required  pattern="" >
 
</div>
<div class="alert alert-warning" [hidden]="prdName.valid || prdName.untouched" >
  <small *ngIf="prdName.errors?.['required']" > Name is required</small>
  
</div>

<label for="basic-url" class="form-label">Product Name in Arabic</label>
<div class="input-group mb-3">
  
  <input #prdNameAr="ngModel" pattern="[1-9]*"  [(ngModel)]="NewProd.NameAr"  type="text" class="form-control" name="NameAr" placeholder="Enter Product Name in Arabic"  required  pattern="" >

</div>
<div class="alert alert-danger" [hidden]="prdNameAr.valid || prdNameAr.untouched" >
  <small *ngIf="prdNameAr.errors?.['required']" > Name is required</small>
  <small *ngIf="prdNameAr.errors?.['pattern']" > jgjhg</small>

</div>


<label for="basic-url" class="form-label">Product Quantity</label>
<div class="input-group mb-3">
  <input  #prdQuantity="ngModel" min=5 [(ngModel)]="NewProd.Quantity" type="number"  class="form-control" name="Quantity"  placeholder="Enter Quantity" required>
</div>
<div class="alert alert-warning" [hidden]="prdQuantity.valid || prdQuantity.untouched" >
  <small *ngIf="prdQuantity.errors?.['required']" > Quantity is required</small>
  
  <small *ngIf="prdQuantity.errors?.['min']" > the minimam Quantity is 5 </small>
</div>
<label for="basic-url" class="form-label">Product Price</label>
<div class="input-group mb-3">
  <input type="number"  #prdPrice="ngModel"  [(ngModel)]="NewProd.Price" class="form-control" min=1 name="Price" placeholder="Enter Price" required >
</div>
<div class="alert alert-warning" [hidden]="prdPrice.valid || prdPrice.untouched">
  <small *ngIf="prdPrice.errors?.['required']"> Price is required</small>
  <small *ngIf="prdPrice.errors?.['min']" > zero is unexaptable</small>

</div>
<label for="basic-url" class="form-label">Link Product Image</label>
<div class="input-group mb-3">
  <input type="text" #prdImg="ngModel"  [(ngModel)]="NewProd.Image" class="form-control" name="Image" placeholder="Enter Link Image" required>
</div>
<div class="alert alert-warning" [hidden]="prdImg.valid || prdImg.untouched" >
  <small *ngIf="prdImg.errors?.['required']"> Image is required</small>
</div>
<label for="basic-url" class="form-label">Avalible Sizes</label>
<div class="input-group mb-3">
  <input type="text" #prdSize="ngModel"  [(ngModel)]="NewProd.Size" class="form-control" name="Size" placeholder="Enter Avalible Sizes" >
</div>

<label for="basic-url" class="form-label">Avalible Dimentions</label>
<div class="input-group mb-3">
  <input type="text" #prdDiem="ngModel"  [(ngModel)]="NewProd.Diemention" class="form-control" name="Diemention" placeholder="Avalible Dimentions" >
</div>

<label for="basic-url" class="form-label">Description in English</label>
<div class="input-group mb-3">
  <input type="text" #prdDes="ngModel"  [(ngModel)]="NewProd.Description" class="form-control" name="Description" placeholder="Enter Description in English" required>
</div>
<div class="alert alert-warning" [hidden]="prdDes.valid || prdDes.untouched" >
  <small *ngIf="prdDes.errors?.['required']" > Description is required</small>
</div>

<label for="basic-url" class="form-label">Description in Arabic</label>
<div class="input-group mb-3">
  <input type="text" #prdDesAr="ngModel"  [(ngModel)]="NewProd.DescriptionAr" class="form-control" name="DescriptionAr" placeholder="Enter Description in Arabic" required>
</div>
<div class="alert alert-warning" [hidden]="prdDesAr.valid || prdDesAr.untouched" >
  <small *ngIf="prdDesAr.errors?.['required']" > Description is required</small>
</div>

<label for="basic-url" class="form-label">Product Category in English</label>
<select class="form-control" #prdCat="ngModel"  name="Category" id="" [(ngModel)]="NewProd.Category" required >

 <option *ngFor="let item of Category" [value]="item.name" >
   {{item.name}}
 </option>

</select>
<div class="alert alert-warning" [hidden]="prdCat.valid || prdCat.untouched">
  <small *ngIf="prdCat.errors?.['required']"> Category is required</small>
</div>

<label for="basic-url" class="form-label">Product Category in Arabic</label>
<select class="form-control" #prdCat="ngModel"  name="CategoryAr" id="" [(ngModel)]="NewProd.CategoryAr" required >

 <option *ngFor="let item of Category" [value]="item.NameAr" >
   {{item.NameAr}}
 </option>

</select>
<div class="alert alert-warning" [hidden]="prdCat.valid || prdCat.untouched">
  <small *ngIf="prdCat.errors?.['required']"> Category is required</small>
</div>
<br><hr>
<button type="submit" class="btn btn-dark"
[disabled]="!prod.valid" [disabled]="prod.invalid"
>Done</button>

 

</div>
</form>

</div>