<div class="container-fluid">
  <div class="   mx-3 my-3 d-flex justify-content-center">
    <div class="row col-lg-10 col-md-10">


      <div class="col-12 mb-5">
        <div class="row">

        
        <div class="col-md-5 col-lg-6 col-sm-10 d-flex align-items-start  justify-content-start flex-column mb-1 d-flex justify-content-center h3 text-secondary">
          <div class="px-5">
            <div>
              {{greet}}{{name}}
            </div>
          </div>        
        </div>
        <div class="col-md-5 col-lg-6 col-sm-10 d-flex align-items-end justify-content-end flex-column  mb-1 d-flex justify-content-center h3 text-secondary">

    </div>             
        </div>

        

        <div class="divider rounded-1 rounded border"></div>
        <!--<div class="col-md-5 col-lg-5 col-sm-10 d-flex align-items-center justify-content-center mx-2 flex-column my-2 border rounded data-card">
          <div class="rounded-circle">
            <div class="h5 my-3">Followers</div>
            <div class="h2 text-center" id="followers">0</div>
          </div>

        </div>-->
        
        <!-- <ng-template [ngIf]="this.decide=='EN'">
          <div class="row">
       blabbla bla 
      </div></ng-template>
      <ng-template [ngIf]="this.decide=='AR'">
          <div class="row">
        blabbla bla bs 3rby
       </div>
      </ng-template>
     -->
        
      </div>
      
      <div class="row">
        <div class="col-lg-12  mt-3 mx-1">
          <p class="h4" *ngIf="this.decide == 'AR'">{{mysales}}</p>
          <div class="row d-flex justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center flex-column data-card">
             <!-- <a  [routerLink]="['/order']" [queryParams]="{type:'pending'}" class="det">-->
              <div class="h1 d-flex justify-content-center text-secondary ">{{pendingNo}}</div>
              <div class=" d-flex  justify-content-center klam">{{waitingShip}}</div>
              <div class="h2 d-flex  justify-content-end p-0 m-0 shape"><i class="bi  bi-box-seam text-secondary text-opacity-25 display-3"></i></div>
  
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 d-flex  justify-content-center  data-card flex-column">
             <!-- <a  [routerLink]="['/order']" [queryParams]="{type:'shipped'}" class="det">-->
              <div class="h1 d-flex justify-content-center text-secondary ">{{deliverNo}}</div>
              <div class=" d-flex  justify-content-center">{{trdersShipped}}</div>
              <div class="h2 d-flex  justify-content-end p-0 m-0"><i class="bi bi-truck text-secondary text-opacity-25 display-3"></i></div>
           
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center  data-card flex-column">
              <a [routerLink]="['/Orders']"  class="det">
              <div class="h1 d-flex justify-content-center text-secondary ">{{totalOrders}}</div>
              <div class=" d-flex  justify-content-center  text-center align-self-center">{{trderHistory}}</div>
              <div class="h2 d-flex  justify-content-end p-0 m-0"><i class="bi bi-clock-history text-secondary text-opacity-25 display-3"></i></div>
            </a>
            </div>
           
       
          </div>

          <div class="row d-flex justify-content-center">

            <div class="col-lg-3 col-md-6 col-sm-12 d-flex  justify-content-center  data-card flex-column">
              <div class="h1 d-flex justify-content-center text-secondary ">{{sales}}</div>
              <div class=" d-flex  justify-content-center">{{totalSales}}</div>
              <div class="h2 d-flex  justify-content-end p-0 m-0"><i class="bi bi-cash text-secondary text-opacity-25 display-3"></i></div>
            </div>
       
            <div class="col-lg-3 col-md-6 col-sm-12 d-flex  data-card justify-content-center flex-column">
              <div class="h1 d-flex justify-content-center text-secondary ">{{revenue}}</div>
              <div class=" d-flex  justify-content-center">{{totalRevenue}}</div>
              <div class="h2 d-flex  justify-content-end p-0 m-0"><i class="bi bi-coin text-secondary text-opacity-25 display-3"></i></div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center align-items-between  data-card flex-column">
              <a  routerLink="/Selles" routerLinkActive="active" class="det">
              <div class="d-flex justify-content-around">
                <div class=" d-flex  text-center align-self-center">{{salesHistory}}</div>
                <div class="h2 d-flex  justify-content-end p-0 m-0"><i class="bi bi-clock-history text-secondary text-opacity-25 display-3"></i></div>
              </div>
            </a>
            </div>
            

          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-12 mt-3 mx-1">
          <p class="h2">{{myProds}}</p>
          <div class="row  d-flex justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-12 d-flex data-card justify-content-center flex-column">
              <a  [routerLink]="['/detailed']" [queryParams]="{type:'available'}" class="det">
              <div class="h1 d-flex justify-content-center ">{{productsAmount}}</div>
              <div class=" d-flex  justify-content-center" >{{activProds}}</div>
              <div class="h2 d-flex  justify-content-end p-0 m-0"><i class="bi bi-check-circle text-secondary text-opacity-25 display-3"></i></div>
            </a>
            </div>
           

            <div class="col-lg-3 col-md-6 col-sm-12 d-flex  justify-content-center  data-card flex-column "> <a  [routerLink]="['/detailed']" [queryParams]="{type:'outOfStock'}"   class="det" >

            
              <div class="h1  d-flex justify-content-center text-secondary ">{{outOfStockAmount}}</div>
              <div class=" d-flex justify-content-center text-center">{{outStock}}</div>
              <div class="h2 d-flex  justify-content-end p-0 m-0"><i class="bi bi-dash-circle text-secondary text-opacity-25 display-3"></i></div>
              </a>
            </div>
         


              <div class=" col-lg-3 col-md-6 col-sm-12 bg-warning  data-card  data-card d-flex justify-content-center flex-column"
              >
              <a class="nav-link items"  [routerLink]="['/Add']" >
                <div class="h1 d-flex justify-content-center text-light "><i class="bi bi-tag"></i></div>
                <div class="h4 d-flex  justify-content-center text-light">{{sellNow}}</div>
              </a>
            </div> 
          
           
          </div>
        </div>
      </div>
    </div>
  </div>