/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
body{
    background: rgb(245, 245, 245);
}


@mixin colors ($color, $bgcolor) {
    color: $color;
    background-color: $bgcolor;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
